## What You'll Accomplish in this Notebook

In this notebook you will:
<ul>
    <li>work through a basic pandas refresher</li>
    <li>learn about other file formats like tab delimited and json files</li>
    <li>see how to read raw csv files from the web</li>
    <li>review how to write data to file using pandas and base python</li>
</ul>

# Pandas and Data File Basics

In this first notebook we will discuss some basic data file types you'll encounter throughout the course and in your data science career. We'll also talk about one of the most popular data handling python packages `pandas`. 

Let's go!

In [1]:
# We'll first import pandas
# it is standard to import it as pd
import pandas as pd

## Reading in Data

### Common Delimited Files

#### CSVs

A csv file is a file where data values are separated by commas and new rows are separated by carriage returns.

To see what I mean open <a href="Data/iris.csv">iris.csv</a> in the Data Folder.

Now we'll see how to load this in using `pandas`.

In [2]:
# iris holds the pandas dataframe (df) object
# Using the default settings pandas reads in the first row as column headers
# All subsequent rows are read in as entries in the df
iris = pd.read_csv("iris.csv")

In [3]:
# df.head shows the first 5 rows
iris.head()

   sepal_length  sepal_width  petal_length  petal_width   iris_class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
# df.tail shows the last 5 rows
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width      iris_class
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [5]:
# What happens if you put a whole number in
# the parantheses of df.tail or df.head?
# Try that here
# If you already know the answer, great!
iris.head(10)
iris.tail(10)

     sepal_length  sepal_width  petal_length  petal_width      iris_class
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [6]:
# What does df.sample() do?
iris.sample()

    sepal_length  sepal_width  petal_length  petal_width   iris_class
45           4.8          3.0           1.4          0.3  Iris-setosa

`pandas` dataframes come with a number of useful features that we'll use throughout the course. Let's use the iris dataset to examine a few.

In [7]:
# df.describe()
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [8]:
# df.column_name
# This produces a pandas series object, think of this like a vector
print(type(iris.petal_width))
print()
print(iris.petal_width)

<class 'pandas.core.series.Series'>

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
5      0.4
6      0.3
7      0.2
8      0.2
9      0.1
10     0.2
11     0.2
12     0.1
13     0.1
14     0.2
15     0.4
16     0.4
17     0.3
18     0.3
19     0.3
20     0.2
21     0.4
22     0.2
23     0.5
24     0.2
25     0.2
26     0.4
27     0.2
28     0.2
29     0.2
      ...
120    2.3
121    2.0
122    2.0
123    1.8
124    2.1
125    1.8
126    1.8
127    1.8
128    2.1
129    1.6
130    1.9
131    2.0
132    2.2
133    1.5
134    1.4
135    2.3
136    2.4
137    1.8
138    1.8
139    2.1
140    2.4
141    2.3
142    1.9
143    2.3
144    2.5
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal_width, Length: 150, dtype: float64

In [9]:
# series.value_counts()
# This gives a count of the various values
iris.iris_class.value_counts()

Iris-virginica     50
Iris-versicolor    50
Iris-setosa        50
Name: iris_class, dtype: int64

### Practice

In [10]:
# See what df.mean() does
iris.mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [11]:
# What about df.max()?
iris.max()

sepal_length               7.9
sepal_width                4.4
petal_length               6.9
petal_width                2.5
iris_class      Iris-virginica
dtype: object

In [12]:
# Now try the following
# df.groupby()
# Group the iris data by iris_class, then try to find
# the mean petal_width by class
#newiris=iris.groupby('iris_class')
#newiris.mean()

iris.groupby('iris_class').mean()

                 sepal_length  sepal_width  petal_length  petal_width
iris_class
Iris-setosa             5.006        3.418         1.464        0.244
Iris-versicolor         5.936        2.770         4.260        1.326
Iris-virginica          6.588        2.974         5.552        2.026

#### Tab Delimited Files

This was a good start. Delimited files can be separated by things other than commas, for example tabs. Let's see an example of that.

In [13]:
# read_table is used for tab delimited files
fly = pd.read_table("FlyRNAi_data_baseline_vs_EGF.txt")

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.

In [14]:
fly.head()

            ID  EGF_Baseline  EGF_Stimulus
0  FBgn0029994         -1.25         -0.27
1  FBgn0037191         -1.05          0.78
2  FBgn0036810          2.08          1.34
3  FBgn0033320          1.15          0.45
4  FBgn0051156         -1.77         -0.76

### JSON Files

JSON files are another popular way to store data. JSON stands for JavaScript Object Notation and is a standard format for data passed through the HTTP between web browsers and other applications. This format can be more complex and free-form than the prior two, but it is very similar to some of python's base data structures.

Let's start with an example.

In [15]:
# This imports the json package
# a package that is available in base python
import json 

# This opens the json file in read mode, and stores it in file
file = open("miserables.json","r")

# This stores the file as a python dictionary
mis = json.load(file)

# This closes the file
file.close()

In [49]:
print(type(mis))

<class 'dict'>

In [50]:
mis

{'nodes': [{'name': 'Myriel', 'group': 1},
  {'name': 'Napoleon', 'group': 1},
  {'name': 'Mlle.Baptistine', 'group': 1},
  {'name': 'Mme.Magloire', 'group': 1},
  {'name': 'CountessdeLo', 'group': 1},
  {'name': 'Geborand', 'group': 1},
  {'name': 'Champtercier', 'group': 1},
  {'name': 'Cravatte', 'group': 1},
  {'name': 'Count', 'group': 1},
  {'name': 'OldMan', 'group': 1},
  {'name': 'Labarre', 'group': 2},
  {'name': 'Valjean', 'group': 2},
  {'name': 'Marguerite', 'group': 3},
  {'name': 'Mme.deR', 'group': 2},
  {'name': 'Isabeau', 'group': 2},
  {'name': 'Gervais', 'group': 2},
  {'name': 'Tholomyes', 'group': 3},
  {'name': 'Listolier', 'group': 3},
  {'name': 'Fameuil', 'group': 3},
  {'name': 'Blacheville', 'group': 3},
  {'name': 'Favourite', 'group': 3},
  {'name': 'Dahlia', 'group': 3},
  {'name': 'Zephine', 'group': 3},
  {'name': 'Fantine', 'group': 3},
  {'name': 'Mme.Thenardier', 'group': 4},
  {'name': 'Thenardier', 'group': 4},
  {'name': 'Cosette', 'group': 5},
  {'name': 'Javert', 'group': 4},
  {'name': 'Fauchelevent', 'group': 0},
  {'name': 'Bamatabois', 'group': 2},
  {'name': 'Perpetue', 'group': 3},
  {'name': 'Simplice', 'group': 2},
  {'name': 'Scaufflaire', 'group': 2},
  {'name': 'Woman1', 'group': 2},
  {'name': 'Judge', 'group': 2},
  {'name': 'Champmathieu', 'group': 2},
  {'name': 'Brevet', 'group': 2},
  {'name': 'Chenildieu', 'group': 2},
  {'name': 'Cochepaille', 'group': 2},
  {'name': 'Pontmercy', 'group': 4},
  {'name': 'Boulatruelle', 'group': 6},
  {'name': 'Eponine', 'group': 4},
  {'name': 'Anzelma', 'group': 4},
  {'name': 'Woman2', 'group': 5},
  {'name': 'MotherInnocent', 'group': 0},
  {'name': 'Gribier', 'group': 0},
  {'name': 'Jondrette', 'group': 7},
  {'name': 'Mme.Burgon', 'group': 7},
  {'name': 'Gavroche', 'group': 8},
  {'name': 'Gillenormand', 'group': 5},
  {'name': 'Magnon', 'group': 5},
  {'name': 'Mlle.Gillenormand', 'group': 5},
  {'name': 'Mme.Pontmercy', 'group': 5},
  {'name': 'Mlle.Vaubois', 'group': 5},
  {'name': 'Lt.Gillenormand', 'group': 5},
  {'name': 'Marius', 'group': 8},
  {'name': 'BaronessT', 'group': 5},
  {'name': 'Mabeuf', 'group': 8},
  {'name': 'Enjolras', 'group': 8},
  {'name': 'Combeferre', 'group': 8},
  {'name': 'Prouvaire', 'group': 8},
  {'name': 'Feuilly', 'group': 8},
  {'name': 'Courfeyrac', 'group': 8},
  {'name': 'Bahorel', 'group': 8},
  {'name': 'Bossuet', 'group': 8},
  {'name': 'Joly', 'group': 8},
  {'name': 'Grantaire', 'group': 8},
  {'name': 'MotherPlutarch', 'group': 9},
  {'name': 'Gueulemer', 'group': 4},
  {'name': 'Babet', 'group': 4},
  {'name': 'Claquesous', 'group': 4},
  {'name': 'Montparnasse', 'group': 4},
  {'name': 'Toussaint', 'group': 5},
  {'name': 'Child1', 'group': 10},
  {'name': 'Child2', 'group': 10},
  {'name': 'Brujon', 'group': 4},
  {'name': 'Mme.Hucheloup', 'group': 8}],
 'links': [{'source': 1, 'target': 0, 'value': 1},
  {'source': 2, 'target': 0, 'value': 8},
  {'source': 3, 'target': 0, 'value': 10},
  {'source': 3, 'target': 2, 'value': 6},
  {'source': 4, 'target': 0, 'value': 1},
  {'source': 5, 'target': 0, 'value': 1},
  {'source': 6, 'target': 0, 'value': 1},
  {'source': 7, 'target': 0, 'value': 1},
  {'source': 8, 'target': 0, 'value': 2},
  {'source': 9, 'target': 0, 'value': 1},
  {'source': 11, 'target': 10, 'value': 1},
  {'source': 11, 'target': 3, 'value': 3},
  {'source': 11, 'target': 2, 'value': 3},
  {'source': 11, 'target': 0, 'value': 5},
  {'source': 12, 'target': 11, 'value': 1},
  {'source': 13, 'target': 11, 'value': 1},
  {'source': 14, 'target': 11, 'value': 1},
  {'source': 15, 'target': 11, 'value': 1},
  {'source': 17, 'target': 16, 'value': 4},
  {'source': 18, 'target': 16, 'value': 4},
  {'source': 18, 'target': 17, 'value': 4},
  {'source': 19, 'target': 16, 'value': 4},
  {'source': 19, 'target': 17, 'value': 4},
  {'source': 19, 'target': 18, 'value': 4},
  {'source': 20, 'target': 16, 'value': 3},
  {'source': 20, 'target': 17, 'value': 3},
  {'source': 20, 'target': 18, 'value': 3},
  {'source': 20, 'target': 19, 'value': 4},
  {'source': 21, 'target': 16, 'value': 3},
  {'source': 21, 'target': 17, 'value': 3},
  {'source': 21, 'target': 18, 'value': 3},
  {'source': 21, 'target': 19, 'value': 3},
  {'source': 21, 'target': 20, 'value': 5},
  {'source': 22, 'target': 16, 'value': 3},
  {'source': 22, 'target': 17, 'value': 3},
  {'source': 22, 'target': 18, 'value': 3},
  {'source': 22, 'target': 19, 'value': 3},
  {'source': 22, 'target': 20, 'value': 4},
  {'source': 22, 'target': 21, 'value': 4},
  {'source': 23, 'target': 16, 'value': 3},
  {'source': 23, 'target': 17, 'value': 3},
  {'source': 23, 'target': 18, 'value': 3},
  {'source': 23, 'target': 19, 'value': 3},
  {'source': 23, 'target': 20, 'value': 4},
  {'source': 23, 'target': 21, 'value': 4},
  {'source': 23, 'target': 22, 'value': 4},
  {'source': 23, 'target': 12, 'value': 2},
  {'source': 23, 'target': 11, 'value': 9},
  {'source': 24, 'target': 23, 'value': 2},
  {'source': 24, 'target': 11, 'value': 7},
  {'source': 25, 'target': 24, 'value': 13},
  {'source': 25, 'target': 23, 'value': 1},
  {'source': 25, 'target': 11, 'value': 12},
  {'source': 26, 'target': 24, 'value': 4},
  {'source': 26, 'target': 11, 'value': 31},
  {'source': 26, 'target': 16, 'value': 1},
  {'source': 26, 'target': 25, 'value': 1},
  {'source': 27, 'target': 11, 'value': 17},
  {'source': 27, 'target': 23, 'value': 5},
  {'source': 27, 'target': 25, 'value': 5},
  {'source': 27, 'target': 24, 'value': 1},
  {'source': 27, 'target': 26, 'value': 1},
  {'source': 28, 'target': 11, 'value': 8},
  {'source': 28, 'target': 27, 'value': 1},
  {'source': 29, 'target': 23, 'value': 1},
  {'source': 29, 'target': 27, 'value': 1},
  {'source': 29, 'target': 11, 'value': 2},
  {'source': 30, 'target': 23, 'value': 1},
  {'source': 31, 'target': 30, 'value': 2},
  {'source': 31, 'target': 11, 'value': 3},
  {'source': 31, 'target': 23, 'value': 2},
  {'source': 31, 'target': 27, 'value': 1},
  {'source': 32, 'target': 11, 'value': 1},
  {'source': 33, 'target': 11, 'value': 2},
  {'source': 33, 'target': 27, 'value': 1},
  {'source': 34, 'target': 11, 'value': 3},
  {'source': 34, 'target': 29, 'value': 2},
  {'source': 35, 'target': 11, 'value': 3},
  {'source': 35, 'target': 34, 'value': 3},
  {'source': 35, 'target': 29, 'value': 2},
  {'source': 36, 'target': 34, 'value': 2},
  {'source': 36, 'target': 35, 'value': 2},
  {'source': 36, 'target': 11, 'value': 2},
  {'source': 36, 'target': 29, 'value': 1},
  {'source': 37, 'target': 34, 'value': 2},
  {'source': 37, 'target': 35, 'value': 2},
  {'source': 37, 'target': 36, 'value': 2},
  {'source': 37, 'target': 11, 'value': 2},
  {'source': 37, 'target': 29, 'value': 1},
  {'source': 38, 'target': 34, 'value': 2},
  {'source': 38, 'target': 35, 'value': 2},
  {'source': 38, 'target': 36, 'value': 2},
  {'source': 38, 'target': 37, 'value': 2},
  {'source': 38, 'target': 11, 'value': 2},
  {'source': 38, 'target': 29, 'value': 1},
  {'source': 39, 'target': 25, 'value': 1},
  {'source': 40, 'target': 25, 'value': 1},
  {'source': 41, 'target': 24, 'value': 2},
  {'source': 41, 'target': 25, 'value': 3},
  {'source': 42, 'target': 41, 'value': 2},
  {'source': 42, 'target': 25, 'value': 2},
  {'source': 42, 'target': 24, 'value': 1},
  {'source': 43, 'target': 11, 'value': 3},
  {'source': 43, 'target': 26, 'value': 1},
  {'source': 43, 'target': 27, 'value': 1},
  {'source': 44, 'target': 28, 'value': 3},
  {'source': 44, 'target': 11, 'value': 1},
  {'source': 45, 'target': 28, 'value': 2},
  {'source': 47, 'target': 46, 'value': 1},
  {'source': 48, 'target': 47, 'value': 2},
  {'source': 48, 'target': 25, 'value': 1},
  {'source': 48, 'target': 27, 'value': 1},
  {'source': 48, 'target': 11, 'value': 1},
  {'source': 49, 'target': 26, 'value': 3},
  {'source': 49, 'target': 11, 'value': 2},
  {'source': 50, 'target': 49, 'value': 1},
  {'source': 50, 'target': 24, 'value': 1},
  {'source': 51, 'target': 49, 'value': 9},
  {'source': 51, 'target': 26, 'value': 2},
  {'source': 51, 'target': 11, 'value': 2},
  {'source': 52, 'target': 51, 'value': 1},
  {'source': 52, 'target': 39, 'value': 1},
  {'source': 53, 'target': 51, 'value': 1},
  {'source': 54, 'target': 51, 'value': 2},
  {'source': 54, 'target': 49, 'value': 1},
  {'source': 54, 'target': 26, 'value': 1},
  {'source': 55, 'target': 51, 'value': 6},
  {'source': 55, 'target': 49, 'value': 12},
  {'source': 55, 'target': 39, 'value': 1},
  {'source': 55, 'target': 54, 'value': 1},
  {'source': 55, 'target': 26, 'value': 21},
  {'source': 55, 'target': 11, 'value': 19},
  {'source': 55, 'target': 16, 'value': 1},
  {'source': 55, 'target': 25, 'value': 2},
  {'source': 55, 'target': 41, 'value': 5},
  {'source': 55, 'target': 48, 'value': 4},
  {'source': 56, 'target': 49, 'value': 1},
  {'source': 56, 'target': 55, 'value': 1},
  {'source': 57, 'target': 55, 'value': 1},
  {'source': 57, 'target': 41, 'value': 1},
  {'source': 57, 'target': 48, 'value': 1},
  {'source': 58, 'target': 55, 'value': 7},
  {'source': 58, 'target': 48, 'value': 7},
  {'source': 58, 'target': 27, 'value': 6},
  {'source': 58, 'target': 57, 'value': 1},
  {'source': 58, 'target': 11, 'value': 4},
  {'source': 59, 'target': 58, 'value': 15},
  {'source': 59, 'target': 55, 'value': 5},
  {'source': 59, 'target': 48, 'value': 6},
  {'source': 59, 'target': 57, 'value': 2},
  {'source': 60, 'target': 48, 'value': 1},
  {'source': 60, 'target': 58, 'value': 4},
  {'source': 60, 'target': 59, 'value': 2},
  {'source': 61, 'target': 48, 'value': 2},
  {'source': 61, 'target': 58, 'value': 6},
  {'source': 61, 'target': 60, 'value': 2},
  {'source': 61, 'target': 59, 'value': 5},
  {'source': 61, 'target': 57, 'value': 1},
  {'source': 61, 'target': 55, 'value': 1},
  {'source': 62, 'target': 55, 'value': 9},
  {'source': 62, 'target': 58, 'value': 17},
  {'source': 62, 'target': 59, 'value': 13},
  {'source': 62, 'target': 48, 'value': 7},
  {'source': 62, 'target': 57, 'value': 2},
  {'source': 62, 'target': 41, 'value': 1},
  {'source': 62, 'target': 61, 'value': 6},
  {'source': 62, 'target': 60, 'value': 3},
  {'source': 63, 'target': 59, 'value': 5},
  {'source': 63, 'target': 48, 'value': 5},
  {'source': 63, 'target': 62, 'value': 6},
  {'source': 63, 'target': 57, 'value': 2},
  {'source': 63, 'target': 58, 'value': 4},
  {'source': 63, 'target': 61, 'value': 3},
  {'source': 63, 'target': 60, 'value': 2},
  {'source': 63, 'target': 55, 'value': 1},
  {'source': 64, 'target': 55, 'value': 5},
  {'source': 64, 'target': 62, 'value': 12},
  {'source': 64, 'target': 48, 'value': 5},
  {'source': 64, 'target': 63, 'value': 4},
  {'source': 64, 'target': 58, 'value': 10},
  {'source': 64, 'target': 61, 'value': 6},
  {'source': 64, 'target': 60, 'value': 2},
  {'source': 64, 'target': 59, 'value': 9},
  {'source': 64, 'target': 57, 'value': 1},
  {'source': 64, 'target': 11, 'value': 1},
  {'source': 65, 'target': 63, 'value': 5},
  {'source': 65, 'target': 64, 'value': 7},
  {'source': 65, 'target': 48, 'value': 3},
  {'source': 65, 'target': 62, 'value': 5},
  {'source': 65, 'target': 58, 'value': 5},
  {'source': 65, 'target': 61, 'value': 5},
  {'source': 65, 'target': 60, 'value': 2},
  {'source': 65, 'target': 59, 'value': 5},
  {'source': 65, 'target': 57, 'value': 1},
  {'source': 65, 'target': 55, 'value': 2},
  {'source': 66, 'target': 64, 'value': 3},
  {'source': 66, 'target': 58, 'value': 3},
  {'source': 66, 'target': 59, 'value': 1},
  {'source': 66, 'target': 62, 'value': 2},
  {'source': 66, 'target': 65, 'value': 2},
  {'source': 66, 'target': 48, 'value': 1},
  {'source': 66, 'target': 63, 'value': 1},
  {'source': 66, 'target': 61, 'value': 1},
  {'source': 66, 'target': 60, 'value': 1},
  {'source': 67, 'target': 57, 'value': 3},
  {'source': 68, 'target': 25, 'value': 5},
  {'source': 68, 'target': 11, 'value': 1},
  {'source': 68, 'target': 24, 'value': 1},
  {'source': 68, 'target': 27, 'value': 1},
  {'source': 68, 'target': 48, 'value': 1},
  {'source': 68, 'target': 41, 'value': 1},
  {'source': 69, 'target': 25, 'value': 6},
  {'source': 69, 'target': 68, 'value': 6},
  {'source': 69, 'target': 11, 'value': 1},
  {'source': 69, 'target': 24, 'value': 1},
  {'source': 69, 'target': 27, 'value': 2},
  {'source': 69, 'target': 48, 'value': 1},
  {'source': 69, 'target': 41, 'value': 1},
  {'source': 70, 'target': 25, 'value': 4},
  {'source': 70, 'target': 69, 'value': 4},
  {'source': 70, 'target': 68, 'value': 4},
  {'source': 70, 'target': 11, 'value': 1},
  {'source': 70, 'target': 24, 'value': 1},
  {'source': 70, 'target': 27, 'value': 1},
  {'source': 70, 'target': 41, 'value': 1},
  {'source': 70, 'target': 58, 'value': 1},
  {'source': 71, 'target': 27, 'value': 1},
  {'source': 71, 'target': 69, 'value': 2},
  {'source': 71, 'target': 68, 'value': 2},
  {'source': 71, 'target': 70, 'value': 2},
  {'source': 71, 'target': 11, 'value': 1},
  {'source': 71, 'target': 48, 'value': 1},
  {'source': 71, 'target': 41, 'value': 1},
  {'source': 71, 'target': 25, 'value': 1},
  {'source': 72, 'target': 26, 'value': 2},
  {'source': 72, 'target': 27, 'value': 1},
  {'source': 72, 'target': 11, 'value': 1},
  {'source': 73, 'target': 48, 'value': 2},
  {'source': 74, 'target': 48, 'value': 2},
  {'source': 74, 'target': 73, 'value': 3},
  {'source': 75, 'target': 69, 'value': 3},
  {'source': 75, 'target': 68, 'value': 3},
  {'source': 75, 'target': 25, 'value': 3},
  {'source': 75, 'target': 48, 'value': 1},
  {'source': 75, 'target': 41, 'value': 1},
  {'source': 75, 'target': 70, 'value': 1},
  {'source': 75, 'target': 71, 'value': 1},
  {'source': 76, 'target': 64, 'value': 1},
  {'source': 76, 'target': 65, 'value': 1},
  {'source': 76, 'target': 66, 'value': 1},
  {'source': 76, 'target': 63, 'value': 1},
  {'source': 76, 'target': 62, 'value': 1},
  {'source': 76, 'target': 48, 'value': 1},
  {'source': 76, 'target': 58, 'value': 1}]}

As we can see this particular data would be difficult to read in as a table the way it is stored. However, we can use `pandas` to create a dataframe from this data all the same.

In [60]:
# Here's a check, print the value corresponding to the
# nodes key for the mis dictionary
mn=mis['nodes']
print(mn[10]['name'])


ml=mis["links"]
print(ml[1])

Labarre
{'source': 2, 'target': 0, 'value': 8}

Okay now we are going to make a `pandas` dataframe from this dictionary.

In [16]:
# Write a script to extract the 'name' feature as its own list
# Call the list names

names = [d['name'] for d in mis['nodes']]

names

['Myriel',
 'Napoleon',
 'Mlle.Baptistine',
 'Mme.Magloire',
 'CountessdeLo',
 'Geborand',
 'Champtercier',
 'Cravatte',
 'Count',
 'OldMan',
 'Labarre',
 'Valjean',
 'Marguerite',
 'Mme.deR',
 'Isabeau',
 'Gervais',
 'Tholomyes',
 'Listolier',
 'Fameuil',
 'Blacheville',
 'Favourite',
 'Dahlia',
 'Zephine',
 'Fantine',
 'Mme.Thenardier',
 'Thenardier',
 'Cosette',
 'Javert',
 'Fauchelevent',
 'Bamatabois',
 'Perpetue',
 'Simplice',
 'Scaufflaire',
 'Woman1',
 'Judge',
 'Champmathieu',
 'Brevet',
 'Chenildieu',
 'Cochepaille',
 'Pontmercy',
 'Boulatruelle',
 'Eponine',
 'Anzelma',
 'Woman2',
 'MotherInnocent',
 'Gribier',
 'Jondrette',
 'Mme.Burgon',
 'Gavroche',
 'Gillenormand',
 'Magnon',
 'Mlle.Gillenormand',
 'Mme.Pontmercy',
 'Mlle.Vaubois',
 'Lt.Gillenormand',
 'Marius',
 'BaronessT',
 'Mabeuf',
 'Enjolras',
 'Combeferre',
 'Prouvaire',
 'Feuilly',
 'Courfeyrac',
 'Bahorel',
 'Bossuet',
 'Joly',
 'Grantaire',
 'MotherPlutarch',
 'Gueulemer',
 'Babet',
 'Claquesous',
 'Montparnasse',
 'Toussaint',
 'Child1',
 'Child2',
 'Brujon',
 'Mme.Hucheloup']

In [17]:
# Write a script to extract the 'group' feature as its own list
# Call the list groups

groups = [d['group'] for d in mis['nodes']]

groups

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 3,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 5,
 4,
 0,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 4,
 6,
 4,
 4,
 5,
 0,
 0,
 7,
 7,
 8,
 5,
 5,
 5,
 5,
 5,
 5,
 8,
 5,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 4,
 4,
 4,
 4,
 5,
 10,
 10,
 4,
 8]

In [18]:
# Now run this to create a miserables character dataframe
mis_df = pd.DataFrame({'name':names,'group':groups})

mis_df.head(10)

              name  group
0           Myriel      1
1         Napoleon      1
2  Mlle.Baptistine      1
3     Mme.Magloire      1
4     CountessdeLo      1
5         Geborand      1
6     Champtercier      1
7         Cravatte      1
8            Count      1
9           OldMan      1

If your json file is arranged like a table you can just use `pandas` to read it in. Go read the file <a href = "Data/json_table.json">json_table.json</a> to see what file we're reading in.

In [19]:
df = pd.read_json("json_table.json")

In [20]:
df.head()

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

### Practice

Notice that `mis['nodes']` was in a tabular format. Write some code in the block below that makes a `pandas` dataframe without having to make lists.

In [21]:
# Do your work here
misdf=pd.DataFrame(mis['nodes'])

print(misdf)

    group               name
0       1             Myriel
1       1           Napoleon
2       1    Mlle.Baptistine
3       1       Mme.Magloire
4       1       CountessdeLo
5       1           Geborand
6       1       Champtercier
7       1           Cravatte
8       1              Count
9       1             OldMan
10      2            Labarre
11      2            Valjean
12      3         Marguerite
13      2            Mme.deR
14      2            Isabeau
15      2            Gervais
16      3          Tholomyes
17      3          Listolier
18      3            Fameuil
19      3        Blacheville
20      3          Favourite
21      3             Dahlia
22      3            Zephine
23      3            Fantine
24      4     Mme.Thenardier
25      4         Thenardier
26      5            Cosette
27      4             Javert
28      0       Fauchelevent
29      2         Bamatabois
..    ...                ...
47      7         Mme.Burgon
48      8           Gavroche
49      5       Gillenormand
50      5             Magnon
51      5  Mlle.Gillenormand
52      5      Mme.Pontmercy
53      5       Mlle.Vaubois
54      5    Lt.Gillenormand
55      8             Marius
56      5          BaronessT
57      8             Mabeuf
58      8           Enjolras
59      8         Combeferre
60      8          Prouvaire
61      8            Feuilly
62      8         Courfeyrac
63      8            Bahorel
64      8            Bossuet
65      8               Joly
66      8          Grantaire
67      9     MotherPlutarch
68      4          Gueulemer
69      4              Babet
70      4         Claquesous
71      4       Montparnasse
72      5          Toussaint
73     10             Child1
74     10             Child2
75      4             Brujon
76      8      Mme.Hucheloup

[77 rows x 2 columns]

### Reading Files Directly From a Website

Many popular websites host their data online as a raw csv or json file. For particularly large data it is preferable to do this over downloading the data onto your personal machine.

For example, <a href="https://fivethirtyeight.com/">https://fivethirtyeight.com</a> posts all of their data on their Github profile, <a href=https://github.com/fivethirtyeight>https://github.com/fivethirtyeight</a>. Let's use one of their data sets as an example.

We'll look at their candy data from the ultimate cand power ranking story, <a href="https://fivethirtyeight.com/videos/the-ultimate-halloween-candy-power-ranking/">https://fivethirtyeight.com/videos/the-ultimate-halloween-candy-power-ranking/</a>. Here's the link from their github, <a href="https://github.com/fivethirtyeight/data/tree/master/candy-power-ranking">https://github.com/fivethirtyeight/data/tree/master/candy-power-ranking</a>.

In [22]:
# Here is the raw csv file link
# from their github
url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/candy-power-ranking/candy-data.csv"

# we can read it in using pd.read_csv
candy = pd.read_csv(url)

In [23]:
# A sampling of candy
candy.sample(10)

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
12,Chiclets,0,1,0,0,0,0,0,0,1,0.046,0.325,24.524988
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465
10,Charleston Chew,1,0,0,0,1,0,0,1,0,0.604,0.511,38.975037
39,Mounds,1,0,0,0,0,0,0,1,0,0.313,0.860,47.829754
6,Baby Ruth,1,0,1,1,1,0,0,1,0,0.604,0.767,56.914547
58,Runts,0,1,0,0,0,0,1,0,1,0.872,0.279,42.849144
23,Hersheys Krackel,1,0,0,0,0,1,0,1,0,0.430,0.918,62.284481
40,Mr Good Bar,1,0,0,1,0,0,0,1,0,0.313,0.918,54.526451
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
45,Now & Later,0,1,0,0,0,0,0,0,1,0.220,0.325,39.446800

This process of grabbing data off the web may come in handy when you work on your projects!

## Writing Data to File

We'll end the notebook with two ways we can write data to a file.

### to_csv with pandas

One easy way is to use the `to_csv` method in `pandas`.

In [30]:
# first make a dataframe
inputs = [1,2,3,4,5,6,7,8,9,10]
outputs = [2*i+11 for i in inputs]
df = pd.DataFrame({'input':inputs,'output':outputs})
df.head()

   input  output
0      1      13
1      2      15
2      3      17
3      4      19
4      5      21

In [25]:
# Now try to_csv
df.to_csv("test.csv")

#### Practice

In [26]:
# Read in test.csv using pandas, then examine the first 5 entries

candy = pd.read_csv("test.csv")
candy.head()

   Unnamed: 0  input  output
0           0      1      13
1           1      2      15
2           2      3      17
3           3      4      19
4           4      5      21

What happened?

We can address that by including the input `index = False` inside `to_csv`.

In [33]:
# Resave your csv without saving the index


df.to_csv("test.csv",index = False)

candy = pd.read_csv("test.csv")
candy.head()

   input  output
0      1      13
1      2      15
2      3      17
3      4      19
4      5      21

Depending on your usage as well as the amount of data you store you may want to store in other formats besides a csv. If that is the case I encourage you to look at the `pandas` documentation here <a href="https://pandas.pydata.org/pandas-docs/stable/">pandas docs</a>, alternatively you can just google what you'd like to do and probably find an answer more quickly that way.

### Writing to File Manually Using python

Just as python allows you to read a file, it also allows you to write to a file. Let's see an example.

In [34]:
# open, will open a file object
# the w+ indicates that you'd like to 
# write on the file, and if the file doesn't exist
# python should create one for you
file = open("write_to_file.csv","w+")

# This will write some columns onto our file
# The \n tells python you want a new line
file.write("name,group\n")

11

In [35]:
# Now let's return to the les mis example
# You do some coding now
# For each character write their name and group to file
for d in mis['nodes']:
    file.write(d['name']+','+str(d['group'])+"\n")

In [37]:
# Run this when you're done to close your file
file.close()

In [38]:
file_df = pd.read_csv("write_to_file.csv")
file_df.head(5)

              name  group
0           Myriel      1
1         Napoleon      1
2  Mlle.Baptistine      1
3     Mme.Magloire      1
4     CountessdeLo      1

That's it!

There are additional file writing methods that are useful, check out section 7.2 of the python docs here, <a href="https://docs.python.org/3/tutorial/inputoutput.html">https://docs.python.org/3/tutorial/inputoutput.html</a>, for more information.